@import url("https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap");

:root {
  --background-color: #fcfcfc;
  --base-size: 16px;
  --font-family: "Literata", fallback, serif;
  --text-color: #777;
  --link-color: #000;
  --line-height: 1.5;

  --row-height: calc(var(--base-size) * var(--line-height));
  --unit-100vh: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--base-size);
  line-height: var(--line-height);
}

main {
  box-sizing: border-box;
  height: 100dvh;
  background-color: #f8f8f8;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3vh;

  @media (max-width: 500px) {
    padding: 1vh;
  }

  .overlay {
    z-index: 1000;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) invert(0.3);

    color: #1e1e1e;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      box-sizing: border-box;
      height: 100%;
      padding: 1rem;

      font-size: 2rem;

      .key {
        display: inline-block;

        width: 3rem;
        border-radius: 0.5rem;
        background: #1e1e1e;
        color: #efefef;
        text-align: center;
      }

      @media (max-width: 500px) {
        font-size: 1.5rem;

        .key {
          width: 2.3rem;
        }
      }
    }
  }

  &.dark {
    background-color: #1a1a1a;
    color: #fefefe;

    .key {
      border-color: #fefefe;
    }
  }
}
