@import url("https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap");

:root {
  --background-color: #fcfcfc;
  --base-size: 16px;
  --font-family: "Literata", fallback, serif;
  --text-color: #777;
  --link-color: #000;
  --line-height: 1.5;

  --row-height: calc(var(--base-size) * var(--line-height));
  --unit-100vh: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--base-size);
  line-height: var(--line-height);
}

body {
  overscroll-behavior-x: none;
  overflow-y: hidden;
  touch-action: pan-x;
}

main {
  box-sizing: border-box;
  height: 100dvh;
  background-color: #fefefa;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3vh;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  @media (max-width: 500px) {
    padding: 1vh;
  }

  .progress-indicator {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-family: monospace;
    font-size: 1vw;
    color: #ccc;
    z-index: 999;
    line-height: 1;
    pointer-events: none;

    @media (min-width: 1200px) {
      font-size: 2.5rem;
    }

    @media (max-width: 800px) {
      font-size: 2rem;
    }
  }

  .overlay {
    z-index: 1000;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    backdrop-filter: blur(100px) invert(0.2);

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      box-sizing: border-box;
      height: 100%;
      padding: 3rem 1rem;
      text-align: center;

      font-size: 2rem;
      color: #fefefe;

      .key {
        display: inline-block;

        width: 3rem;
        border-radius: 0.5rem;
        background: #1e1e1e;
        color: #efefef;
        text-align: center;
      }

      @media (max-width: 500px) {
        font-size: 1.5rem;

        .key {
          width: 2.3rem;
        }
      }
    }
  }

  &.dark {
    background-color: #1a1a1a;
  }
}