@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap');

:root {
  --base-size: 16px;
  --font-family:  "Literata", fallback, serif;
  --text-color: #444;
  --light-color: #777;
  --line-height: 1.5;

  --row-height: calc(var(--base-size) * var(--line-height));
  --unit-100vh: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--base-size);
  line-height: var(--line-height);
}

body:not(.wrapper) {
  margin: var(--row-height);
  color: var(--text-color);
}

@media only screen and (hover: none) {
  /* Safari iPad 100vh "feature" fix */
  @supports (height: 100dvh) {
    :root {
      --unit-100vh: 100dvh;
    }
  }
}

header {
  color: #999;
}

@media (orientation: landscape) and (min-width: 500px) {
  main {
    aspect-ratio: 16 / 9;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
  }

  main {
    max-height: calc(var(--unit-100vh) - 2 * var(--row-height));
  }

  main article p {
    padding-top: 1rem;
  }

  main.vertical header {
    position: absolute;
  }

  main article {
    display: flex;
    flex-flow: column;
  }

  main.vertical article {
    justify-content: flex-end;
    flex-wrap: wrap;
    height: calc(var(--unit-100vh) - 2 * var(--row-height));
  }

  main.horizontal article {
    height: calc(var(--unit-100vh) - 3 * var(--row-height));
  }

  main article img {
    object-fit: contain;
  }

  main.vertical article img {
    max-height: inherit;
    width: auto;
  }

  main.horizontal article img {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    height: 100%;
    width: auto;
  }

  main.vertical p:first-child {
    max-height: calc(var(--unit-100vh) - 2 * var(--row-height));
  }
  
  main.horizontal p:first-child {
    flex: 1;
    position: relative;
    width: 100%;
  }

  main.vertical article p:first-child {
    margin-left: auto;
    order: 99;
  }

  main.vertical article p:not(:first-child) {
    width: 50%;
  }

  main.horizontal article p {
    align-self: end;
    text-align: end;
  }
}

@media (orientation: portrait) or (max-width: 500px) {
  main article {
    display: flex;
    flex-flow: column;
  }

  main article img {
    max-width: 100%;
    height: auto;
  }

  main article p {
    margin-top: 1rem;
  }
}


