@import url("https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap");

:root {
  --background-color: #fcfcfc;
  --base-size: 16px;
  --font-family: "Literata", fallback, serif;
  --text-color: #777;
  --link-color: #000;
  --line-height: 1.5;

  --row-height: calc(var(--base-size) * var(--line-height));
  --unit-100vh: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--base-size);
  line-height: var(--line-height);
}

body {
  overscroll-behavior-x: none;
  overflow-y: hidden;
  touch-action: pan-x;
  cursor: e-resize;
}

main {
  box-sizing: border-box;
  height: 100dvh;
  background-color: #fefefa;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 5dvh;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  @media (max-width: 500px) {
    padding: 1vh;
  }

  .info {
    color: #999;
    text-align: center;
  }

  custom-pic {
    height: calc(100dvh - 1em - 1rem - 10dvh);
  }

  &.dark {
    background-color: #1a1a1a;
  }
}