@import url("https://fonts.googleapis.com/css2?family=Literata:wght@400&display=swap");

:root {
  --base-size: 16px;
  --font-family: "Literata", fallback, serif;
  --background-color: #fefefa;
  --text-color: #555;
  --link-color: #000;
  --line-height: 1.2;

  --row-height: calc(var(--base-size) * var(--line-height));
  --unit-100vh: 100vh;

  --safe-h: max(env(safe-area-inset-left), env(safe-area-inset-right));
  --padding-h: max(5dvh, var(--safe-h));
  --padding-v: 2dvh;

  @media (max-width: 500px) {
    --padding-h: max(1vh, var(--safe-h));
    --padding-v: 1vh;
  }

}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--base-size);
  line-height: var(--line-height);
}

body {
  overscroll-behavior-x: none;
  overflow-y: hidden;
  touch-action: pan-x;

  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

.compact {
  display: none;
}

@media (max-width: 500px) {
  .regular {
    display: none;
  }

  .compact {
    display: revert;
  }
}

main {
  box-sizing: border-box;
  height: 100dvh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-v);

  padding: var(--padding-v) var(--padding-h);

  .pic-container {
    flex: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  custom-pic {
    max-height: 100%;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    text-align: center;
  }
}